﻿@{
}
@model SaleReportViewModel

<h1> Отчет по продажам</h1>

<div class="panel panel-info">
    <div class="panel-heading">Параметры</div>
    <div class="panel-body">
        <form role="form" class="form-inline" method="post" action="@Url.Action("Result")">
                <label>Период </label>
            <div class="form-group">
                <label for="inputBeginDate">с</label>
                <input type="date" class="form-control" id="inputBeginDate" placeholder="с" name="beginDate" value="@Model.BeginDate">
            </div>
            <div class="form-group">
                <label for="inputEndDate">по</label>
                <input type="date" class="form-control" id="inputEndDate" placeholder="по" name="endDate" value="@Model.EndDate">
            </div>
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
    </div>
</div>

@if (Model.Items.Count > 0)
{
<div class="panel panel-success">
    <div class="panel-heading">Результаты</div>
    <div class="panel-body">
        <div style="max-height: 400px; overflow-y: auto">
            <table class="table table-striped ">
                <thead> <tr style="font-weight: bold">
                    <td>Номер заказа</td>
                    <td>Дата заказа</td>
                    <td>Артикул товара</td>
                    <td>Наименование товара</td>
                    <td>Количество реализованных единиц товара</td>
                    <td>Цена реализации за единицу продукции</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.OrderNum</td>
                        <td>@item.OrderDate</td>
                        <td>@item.ProductNum</td>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>

                    </tr>

                }
                    </tbody> 
            </table>
          </div>
    </div>
    <div class="panel-footer"><button type="button" class="btn btn-primary" id="btnExport">Экспорт в Excel</button></div>
</div>
}

@section Scripts {
    <script type="text/javascript"> 
        $(document).ready(function () {
            $('#btnExport').click(function () {
                window.open("@Url.Action("Export")?beginDate=@Model.BeginDate&endDate=@Model.EndDate", "_blank");
            });

        });
    </script>
}
